@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globais para garantir o fundo preto e a fonte Inter em toda a aplicação */


html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o body ocupe toda a altura */
  background-color: #000; /* FUNDO PRETO GLOBAL */
  font-family: 'Inter', sans-serif;
  color: #fff; /* Cor do texto padrão para o Body */
}

#app {
  min-height: 100vh; /* Garante que o container do Vue ocupe toda a altura da viewport */
}

